footer.footer-area.section-gap
    .container
        .row
            .col-lg-5.col-md-6.col-sm-6
                .cool-logo
                    pre.footer.

                        zzzzzzzzzzzzzzzz  zzzz   zzzzzzzzz        zzzz  zzzz     zzzz
                        zzzzzzzzzzzzzzz   zzzz   zzzzzzzzzz       zzzz  zzzz    zzzz
                                  zzzz           zzzz   zzzz            zzzz   zzzz
                                 zzzz     zzzz   zzzz    zzzz     zzzz  zzzz  zzzz
                                zzzz      zzzz   zzzz     zzzz    zzzz  zzzz zzzz
                               zzzz       zzzz   zzzz      zzzz   zzzz  zzzzzzzz
                              zzzz        zzzz   zzzz       zzzz  zzzz  zzzzzzzz
                             zzzz         zzzz   zzzz      zzzz   zzzz  zzzz zzzz
                            zzzz          zzzz   zzzz     zzzz    zzzz  zzzz  zzzz
                           zzzz           zzzz   zzzz    zzzz     zzzz  zzzz   zzzz
                          zzzz            zzzz   zzzz   zzzz      zzzz  zzzz    zzzz
                         zzzzzzzzzzzzzzz  zzzz   zzzzzzzzzz       zzzz  zzzz     zzzz
                        zzzzzzzzzzzzzzzz  zzzz   zzzzzzzzz        zzzz  zzzz      zzzz

            .col-lg-5.col-md-6.col-sm-6
                .single-footer-widget
                    h4.footer Formula for success
                    p
                        | People have such different paths and they all lead to
                        i
                            del a bar
                        b
                            ins the grave
                        |                         .
                    p.footer-text
                        | Copyright &copy;2022 All rights reserved
                    p#load-time.load-time
                        span.server-time #{time}
            .col-lg-5.col-md-6.col-sm-6
                .single-footer-widget
                    h4.footer Newsletter
                    p Stay updated with me
                    #mc_embed_signup
                        form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
                            .input-group
                                input.form-control(type='text' name='EMAIL' placeholder='Enter Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address '" required='')
                                .input-group-btn
                                    button.btn.btn-default(type='submit')
                                        span.lnr.lnr-arrow-right
            .col-lg-2.col-md-6.col-sm-6.social-widget
                .single-footer-widget
                    h4.footer Follow Me
                    p Let us be social
                    .footer-social.d-flex.align-items-center
                        a(href='https://github.com/Zidikk/WebDev')
                            i.fa.fa-facebook
