// Mobile Specific Meta
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
// Favicon
link(rel='shortcut icon' href='img/me.jpg')
// Author Meta
meta(name='author' content='Zidik')
// Meta Description
meta(name='description' content='Zidik, Landing page')
// Meta Keyword
meta(name='keywords' content='Zidik')
// meta character set
meta(charset='UTF-8')