section.user
    .container
        .user-profile
            div 
                span.user-email Ваша почта - 
                span.user-name #{email}
            img.user-img(src='/./img/no_avatar.jpg' alt='User-quote')