extends partials/template

block variables
  - var pageTitle = "Portfolio";

block content
    main
        .gallery-container
            h1.gallery &Gcy;&acy;&lcy;&iecy;&rcy;&iecy;&yacy;
            .preloader
            .error &Ocy;&shcy;&icy;&bcy;&kcy;&acy; &pcy;&ocy;&lcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;
            ul.gallery-ul
            .pages-nav
                button.previous-button &lt;
                .page-number 1
                button.next-button &gt;
    script(src='js/gallery.js')